<div class="configuration-container">
  <div class="header">
    <div class="title">
      <h1>Leave Management</h1>
    </div>
    <button mat-flat-button class="example-full-width" (click)="applyLeave()">+ Apply Leave</button>
  </div>


  <mat-divider></mat-divider>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter / Search
          </mat-panel-title>
        </mat-expansion-panel-header>
    
  
    
    
      </mat-expansion-panel>
    
    
    
      
</div>